.topbarcontainr{
    height: 130px;
    width: 100%;
    
}
.topbardiv{
   
    height: 130px;
    
    position: relative;
    
}

.topbarlogo{
  
    height: 80px;
}

.logoimg{
    
    height: 115px;
    width: 130px;
   
}

.topbarlogoheading{
    color: #F07C29;
    font-family: "Roboto,HelveticaNeue,Arial,sans-serif";
    font-size: 20px;
    font-weight: bold;
   
    
}

.logosymbol{
   font-size: 30px;
   color: black;
}
.count{
    background: #f07c29 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    margin-left: -12px;
    margin-bottom: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
}